form{

	width: 25%;
	border: 1px solid #ccc;
	margin: 20px;
	padding: 20px;
}

label{

	font-size: 12px;
	display: block;

}

input, textarea{

	margin-bottom: 20px;
	width: 100%

}

input[type="submit"]{
	margin-bottom: 10px;
	background: #800080;
	color: #fff;
	border: none;
}

input[type="button"]{
	margin-bottom: 10px;
	background: #800080;
	color: #fff;
	border: none;
}